{% extends "main.j2" %}


{% block title %}
Households Members
{% endblock %}


{% block heading %}
Households Members
{% endblock %}


{% block content %}
    <table>
        <thead>
            <tr>
            {% for key in households_members[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
                <th>Edit</th>
                <th>Delete</th>
            <tr>
        <tbody>
        {% for attribute in households_members %}
            <tr>
                {% for key in attribute.keys() %}
                <td>{{attribute[key]}}</td>
                {% endfor %}
                <td><a href="{{url_for('households_members_edit')}}" />Edit</td>
                <td><a href="{{url_for('households_members')}}" />Delete</td>                
            </tr>
        {% endfor %}
    </table>

    <br />

    <form action="{{url_for('households_members')}}" method="POST">
    <fieldset><legend> Add a Household Member</legend>
    <label>household
        <input type ="number" name="id_household" size=12 maxlength="45" required="required">
    </label>
    <label>name
        <input type="text" name="name" size="12" maxlength="45" required="required">
    </label>
    <br />
    <label>runner status
        <input type="text" name="runner_status" size="12" maxlength="45" required="required">
    </label>
    <br />
    <button type="submit">Add</button>
    </fieldset>
    </form>
{% endblock %}