{% extends "main.j2" %}


{% block title %}
Households Items
{% endblock %}


{% block heading %}
Households Items
{% endblock %}


{% block content %}
<table>
<thead>
{% if households_items %}
<tr>
    {% for key in households_items[0].keys() %}
        <th>{{ key }}</th>
    {% endfor %}
        <th>Delete</th>
{% else %}
    <p>There are currently no households items listed.</p>
{% endif %}
</tr>

<tbody>
    {% for attribute in households_items %}
<tr>
    {% for key in attribute.keys() %}
        <td>{{attribute[key]}}</td>
    {% endfor %}
        <td><a href="households-items-delete/{{attribute.id}}" />Delete</td>
</tr>
{% endfor %}
</table>

<form action="{{url_for('view_households_items.households_items')}}" method="POST">
<fieldset>
<legend>Add a Household Item</legend>

<label>item type
    <select name="item_type">
    <option value="">Select an item type</option>
    {% for type in items_types_dropdown %}
    <option value="{{ type.id_item_type }}">{{ type.name }}</option>
    {% endfor %}
    </select>
</label>

<br />
<label>name
    <input type="text" name="name" size="12" maxlength="45" required="required">
</label>

<br />
<label>best if used by
    <input type="date" name="best_if_used_by" size="12" maxlength="45" required="required">
</label>

<br />
</fieldset>
<button type="submit" name="Add_Households_Items" value="Add a Household Item">Add</button>
</form>
{% endblock %}