{% extends "main.j2" %}


{% block title %}
Households Inventories - Edit
{% endblock %}


{% block heading %}
Households Inventories - Edit Selection
{% endblock %}


{% block content %}
<form method="POST">
<fieldset>
<legend>Edit a Household Inventory</legend>

{# <label>household
    <input type ="number" name="id_household" size="12" maxlength="45" required="required">
</label>

<br />
<label>item
    <input type="number" name="id_item" size="12" maxlength="45" required="required">
</label> #}

<br />
<label>amount left
    <select name="amount_left" required>
    <option value="">Select amount left</option>
    <option value="Empty">Empty</option>
    <option value="Running Low">Running Low</option>
    <option value="Still Plenty">Still Plenty</option>
    <option value="Fully Stocked">Fully Stocked</option>
    </select>
</label>

<br />    
<label>restock status
  <input type="radio" id="restock_status" name="restock_status" value="1">
    <label for="restock_status">Restock</label>
  <input type="radio" id="restock_status" name="restock_status" value="0">
    <label for="restock_status">Currently Stocked</label>
</label>

<br />
</fieldset>
<button type="submit" name="Edit_Households_Inventories" value="Edit a Household Inventory">Submit</button>
<a href='{{url_for('view_households_inventories.households_inventories')}}'><input type="button" name="Cancel" value="Cancel"/></a>
</form>    
{% endblock %}