{% extends "main.j2" %}


{% block title %}
Households Members - Edit
{% endblock %}


{% block heading %}
Households Members - Edit Selection
{% endblock %}


{% block content %}
    <form action="https://projectrestock.herokuapp.com/households-members" method="PUT">
    <fieldset><legend> Edit a Household Member</legend>
    <label>id_household
        <input type ="number" name="id_household" size=12 maxlength="45" required="required">
    </label>
    <label>name
        <input type="text" name="name" size="12" maxlength="45" required="required">
    </label>
    <br />
    <label>runner_status
        <input type="text" name="runner_status" size="12" maxlength="45" required="required">
    </label>
    <br />
    <button type="submit">Submit</button>
    <input type="button" name="Cancel" value="Cancel" onClick="window.location.href='https://projectrestock.herokuapp.com/households-members';" />   
    </fieldset>
    </form>
{% endblock %}