{% extends "main.j2" %}


{% block title %}
Households Members - Edit
{% endblock %}


{% block heading %}
Households Members - Edit Selection
{% endblock %}


{% block content %}
<form method="POST">
<fieldset>
<legend>Edit a Household Member</legend>

<br />
<label>name
    <input type="text" class="form-control" name="name" value="{{ households_members[0]["name"] }}" required=required>
</label>

<br />
<label>household
    <select name="id_household">
    <option value="">Select a household</option>
    {% for household in household_dropdown %}
    <option value="{{ household.id_household }}">{{ household.name }}</option>
    {% endfor %}
    </select>
</label>    

<br />
<label>runner status
    <select name="runner_status" required=required>
    <option value="">Select runner status</option>
    <option value="1">Runner</option>
    <option value="0">Not Runner</option>
    </select>
</label>

<br />
</fieldset>
<button type="submit" name="Edit_Households_Members" value="Edit Household Member">Submit</button>
<a href='{{url_for('view_households_members.households_members')}}'><input type="button" name="Cancel" value="Cancel"/></a>
</form>
{% endblock %}