{% extends "main.j2" %}


{% block title %}
Households - Edit
{% endblock %}


{% block heading %}
Households - Edit Selection
{% endblock %}


{% block content %}
    <form method="POST">
    <fieldset><legend> Edit a Household</legend>
        <input type="hidden" name="id_household" value="{{request.form['id_household']}}" required="required">
    <label>name
        <input type="text" name="name" value="{{request.form['name']}}" size="12" maxlength="45" required="required">
    </label>
    <br />
    <label>address
        <input type="text" name="address" value="{{request.form['address']}}" size="12" maxlength="45" required="required">
    </label>
    <br />
    </fieldset>
    <button type="submit" name="Edit_Household" value="Edit Household">Submit</button>
    <input type="button" name="Cancel" value="Cancel" onClick="window.location.href='{{url_for('households')}}';" />   
    </form>
{% endblock %}