{% extends "main.j2" %}


{% block title %}
Home
{% endblock %}


{# {% block heading %}
Home
{% endblock %} #}


{% block content %}
    <div class = "Menu">
    <h3><a href="{{url_for('view_households.households')}}">Households</a></h3>
        <ul>
        <li>Display households available</li>
        <li>Add a new household</li>
        <li>Edit current households</li>
        <li>Delete an existing household</li>
        </ul>
    <h3><a href="{{url_for('view_households_members.households_members')}}">Households Members</a></h3>
        <ul>
        <li>Display members of different households</li>
        <li>Add a new household member</li>
        <li>Edit current household member status</li>
        <li>Delete an existing household member</li>
        </ul>
    <h3><a href="{{url_for('view_households_inventories.households_inventories')}}">Households Inventories</a></h3>
        <ul>
        <li>Display items found in household inventories</li>
        <li>Add new household inventory stock</li>
        <li>Edit current inventory stock</li>
        <li>Delete existing inventory stock</li>
        </ul>
    <h3><a href="{{url_for('view_households_items.households_items')}}">Households Items</a></h3>
        <ul>
        <li>Display household items</li>
        <li>Add a new household item</li>
        <li>Delete an existing household item</li>
        </ul>
    <h3><a href="{{url_for('view_items_types.items_types')}}">Items Types</a></h3>
        <ul>
        <li>Display item types found in households</li>
        <li>Add a new item type</li>
        </ul>
    <h3><a href="{{url_for('view_stores_inventories.stores_inventories')}}">Stores Inventories</a></h3>
        <ul>
        <li>Display item types found in store inventories</li>
        <li>Add an item type to a store's inventory</li>
        </ul>
    <h3><a href="{{url_for('view_stores.stores')}}">Stores</a></h3>
        <ul>
        <li>Display stores available</li>
        <li>Add a new store</li>
        <li>Edit current stores</li>
        <li>Delete an existing store</li>
        </ul>
    </div>
{% endblock %}