{% extends "main.j2" %}


{% block title %}
Stores
{% endblock %}


{% block heading %}
Stores
{% endblock %}


{% block content %}
    <table>
        <thead>
            <tr>
            {% for key in stores[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
                <th>Delete</th>
            <tr>
        <tbody>
        {% for attribute in stores %}
            <tr>
                {% for key in attribute.keys() %}
                <td>{{attribute[key]}}</td>
                {% endfor %}
                <td><a href="http://flip3.engr.oregonstate.edu:9633/stores" />Delete</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <form action="http://flip3.engr.oregonstate.edu:9633/stores" method="POST">
    <fieldset><legend> Add a Store</legend>
    <label>name
        <input type="text" name="name" size="12" maxlength="45" required="required">
    </label>
    <br />
    <label>address
        <input type="text" name="address" size="12" maxlength="145" required="required">
    </label>
    <br />
    <label>hours_open
        <input type="text" name="hours_open" size="12" maxlength="45" required="required">
    </label>
    <br />
    <button type="submit">Add</button>
    </fieldset>
    </form>
{% endblock %}